<li class="list-group-item d-flex position-relative">
  <div class="d-flex flex-column" style="flex: 10">
    <div class="" style="flex: 10">
    <b class="h4 d-block"><%= recipe.name %><%= link_to '', recipe, style: 'position: absolute; top: 0; left: 0; height: 100%; width: 100%' %></b>
    <%= recipe.summary %>
    <small class='d-block'><%= recipe.recipe_ingredients.pluck(:name).join(', ') %></small>
    </div>
    <% unless controller_name == 'users' && action_name == 'show' %>
    <div class="mt-2"><div class="post-image-frame post-image-user rounded-circle border mr-2"<%= " style=\"background-image: url(\'#{url_for recipe.user.post_image}\');\"".html_safe if recipe.user.post_image.image.present? %>></div><%= recipe.user.name %></div>
    <% end %>
  </div>
    <% if recipe.post_image %>
      <div style="flex: 1"><%= image_tag url_for(recipe.post_image), style: 'max-width: 180px' %></div>
    <% end %>
</li>
