<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <nav class="container"><%= link_to 'Recipe App', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'ホーム', root_path, class: "nav-link#{is_active(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to '新着レシピ', recipes_path, class: "nav-link#{is_active(recipes_path)}" %>
        </li>
      </ul>

      <ul class="navbar-nav mr-lg-3">
      <% unless user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'アカウント作成', new_user_registration_path, class: "btn btn-outline-primary" %>
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary" %>
        </li>
        <% else %>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="post-image-frame post-image-user rounded-circle border mr-2" style="width: 1.1em; height: 1.1em; top: 0.18em;<%= " background-image: url('#{url_for current_user.post_image}');".html_safe if current_user.post_image.image.present? %>"></span><%= current_user.name.truncate(12) %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item disabled" href="/recipes/new">お気に入りレシピ</a>
            <%= link_to 'レシピを書く', new_recipe_path, class: "dropdown-item#{is_active(new_recipe_path)}" %>
            <%= link_to "#{current_user.name.truncate(12)}さんのページ", user_path(current_user), class: "dropdown-item#{is_active(user_path(current_user))}" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
      </ul>

      <!--<form class="form-inline my-2 my-lg-0">
        <input disabled="disabled" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button disabled="disabled" class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2" type="submit">Search</button>
      </form>-->
        <form class="input-group form-inline my-2 my-lg-0" style="width: auto;">
          <input disabled class="form-control" type="search" placeholder="Search" aria-label="Search" autofocus>
          <div class="input-group-append">
            <button disabled class="btn btn-secondary" type="submit">レシピ検索</button>
          </div>
        </form>

    </div>
  </nav>
</header>
